{
    admin off
    auto_https disable_redirects
}

http://__DASHBOARD_HOST__ {
    redir https://__DASHBOARD_HOST__{uri} permanent
}

https://__DASHBOARD_HOST__ {
    encode zstd gzip
    tls {
        issuer acme {
            dir https://acme-v02.api.letsencrypt.org/directory
        }
    }
    basic_auth {
        __DASHBOARD_USER__ __DASHBOARD_PASSWORD_HASH__
    }
    header {
        -Server
        X-Robots-Tag "noindex, nofollow, noarchive"
        Strict-Transport-Security "max-age=31536000"
    }
    reverse_proxy 127.0.0.1:8765 {
        header_up Host 127.0.0.1:8765
        header_up -Authorization
        header_up -Origin
        header_up -Sec-Fetch-Site
    }
}
